<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>SUMMARY</marker>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %class{50}.%M:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="consoleSummary" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>SUMMARY</marker>
            </evaluator>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level %class{50}.%M:%L%n%cyan(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="org.postgresql" level="debug"/>
    <logger name="org.springframework.jdbc" level="debug"/>
    <logger name="ru.javawebinar.topjava" level="debug"/>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="consoleSummary"/>
    </root>

</configuration>